# -------------------------------
# FICHIERS ET DOSSIERS NON SUIVIS
# -------------------------------

# --------------
# Rappels utiles
# file  -> ignore le fichier 'file' où qu'il se situe dans l'arbo
# file* -> ignore les fichiers commençant par 'file' où qu'ils se situent dans l'arbo
# /file -> ignore le fichier 'file' situé à la racine
# doss/ -> ignore le dossier 'doss'
# doss*/ -> ignore tous les dossiers commençant par 'doss'


# -----
# macOS
.DS_Store
Thumbs.db


# ------
# Projet
.qtcreator
build*/
z_*/
/nav*